.Card {
    display: grid;
    background-color: rgb(24, 23, 23);
    grid-template-rows: 1fr 1fr 1fr;
    grid-template-columns: 1fr;
    gap: 1.2vh;
}

.cardTitle {
    color: white;
    font-size: 2.5vh;
    text-align: center;
    grid-row: 1;
    grid-column: 1;
}

.cardContent {
    color: white;
    font-size: 2vh;
    text-align: left;
    grid-row: 2;
    grid-column: 1;
}

.limitDate {
    color: white;
    font-size: 1.5vh;
    text-align: right;
    grid-row: 3;
    grid-column: 1;
}