#root {
  text-align: center;
  justify-content: center;
  align-items: center;
}

body {
  margin: 0;
  display: flex;
  min-width: 320px;
  width: 100%;
  min-height: 100vh;
  justify-content: center;
}

main {
  padding: 20px;
  width: 100%;
  place-content: center;
}

.Header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 20px;
  color: rgb(0, 0, 0);
}

.navegador ul {
  display: flex;
  gap: 20px;
}

h1 {
  color: rgb(0, 0, 0);
}

h3 {
  color: rgb(0, 0, 0);
}

p {
  color: rgb(0, 0, 0);
}

footer {
  bottom: 0;
  margin-top: auto;
  padding: 10px;
  background-color: #f1f1f1;
  color: #333;
}